@media screen and (max-width: 700px) {
  nav {
    ul {
      position: absolute;
      width: 300px;
      height: 0;
      overflow: hidden;
      border-radius: 10px;
      background-color: white;
      top: 13vh;
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      justify-content: center;
      transition: 0.5s;
      &.active {
        height: 250px;
      }
      li {
        margin: 0px 0px 20px;
      }
      span {
        margin: 25px 0px;
        width: 80%;
        height: 2px;
        border-radius: 0px;
      }
    }
    .button {
      display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }
}
@media screen and (max-width: 930px) {
  body {
    padding: 10px;
  }
  main {
    flex-direction: column-reverse;
    height: max-content;
    align-items: center;
    padding-block: 30px;
    > * {
      width: 100% !important;
      height: max-content;
    }
    aside {
      margin-bottom: 40px;
    }
    section {
      h1 {
        font-size: 60px;
        width: 100%;
      }
    }
  }
}
